<div class="app-title"
<% provide(:title, "My Budget APP") %>
</div>

<div class="buttons">
<%= link_to "LOG IN", new_user_session_path, class:"button-login"%> <br>
<%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "logout" %>
<%= link_to "SIGN UP", new_user_registration_path, class:"button-login"%> <br>
</div>