<% content_for :navbar_title, 'My Expenses APP'.upcase %>



<div class="buttons">
<%= link_to "LOG IN", new_user_session_path, class:"button-login"%> <br>
<%= link_to "SIGN UP", new_user_registration_path, class:"button-login"%> <br>
</div>
